<template>
  <div class="home">
    <h1>This is a table with some important data</h1>
    <button
      class="home__button"
      type="button"
      @click="openModal()"
      @keydown.enter="openModal()"
    >
      Add A Security Class
    </button>
    <Modal @added="captureFormData" v-show="isModalVisible" @close="closeModal">
      <template v-slot:header> <h2>Add a security class </h2></template>
      <template v-slot:form> <SecurityClassForm/> </template>
    </Modal>
    <b-table :data="tableData" :columns="tableColumns"></b-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import tableData from "@/assets/tableData";
import { TableData, Column } from "@/types/types";
import Modal from "@/components/modal.vue";
import SecurityClassForm from "@/components/securityClassForm.vue";
const TABLE_COLUMNS: Column[] = [
  {
    label: "Security class",
    field: "name",
  },
  {
    label: "Authorized amount",
    field: "authorizedAmount",
  },
  {
    label: "Issued amount",
    field: "issuedAmount",
  },
  {
    label: "Authorized Capital",
    field: "authorizedCapital",
  },
  {
    label: "Issued capital",
    field: "issuedCapital",
  },
];

const INITIAL_TOTAL: TableData = {
  id: "42f2462d-49d0-4e91-8fe1-de2e656b042",
  name: "Total",
  nominalValue: 0,
  authorizedAmount: 0,
  issuedAmount: 0,
  authorizedCapital: 0,
  issuedCapital: 0,
  randomNumber: Math.random(),
};

@Component({
  name: "Home",
  components: { Modal, SecurityClassForm },
})
export default class Home extends Vue {
  tableData: TableData[] = [];
  loading = false;
  isModalVisible = false;
  tableColumns: Column[] = TABLE_COLUMNS;

  // mounted works fine if your ide complains about it
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  async mounted() {
    const data: TableData[] | null = await this.getData().catch((error) => {
      console.log(error, "This is not good");
      return null;
    });
    this.loading = true;
    if (data) {
      this.tableData = data.map((dataItem: TableData) => {
        return {
          ...dataItem,
          randomNumber: Math.random(),
        };
      });
      this.calculateTotal();
    }
    this.loading = false;
  }

  async getData(): Promise<TableData[]> {
    return tableData;
  }

  calculateTotal(): void {
    let total = this.tableData.reduce((prevRecord, currRecord) => {
      currRecord = {
        id: "42f2462d-49d0-4e91-8fe1-de2e656b042",
        name: "Total",
        nominalValue: currRecord.nominalValue + prevRecord.nominalValue,
        authorizedAmount:
          currRecord.authorizedAmount + prevRecord.authorizedAmount,
        issuedAmount: currRecord.issuedAmount + prevRecord.issuedAmount,
        authorizedCapital:
          currRecord.authorizedCapital + prevRecord.authorizedCapital,
        issuedCapital: currRecord.issuedCapital + prevRecord.issuedCapital,
      };
      return currRecord;
    }, INITIAL_TOTAL);
    this.tableData.push(total);
  }
  
  captureFormData(capturedData: TableData): void {
    this.tableData.splice(this.tableData.findIndex(record => record.name === 'Total') , 1)
    this.tableData.push(capturedData);
    this.calculateTotal();
    this.closeModal();
  }
  closeModal(): void {
    this.isModalVisible = false;
  }

  openModal(): void {
    this.isModalVisible = true;
  }
}
</script>

<style scoped lang="scss">
@import "src/mixins/mixins.scss";

.home__button {
  margin: 2rem;
  @include app-button;
}
</style>
