<template>
  <div class="transfers">
    <h1 class="title is-1">Transfers</h1>
    <label
      >Search
      <input v-model="searchTerms" />
    </label>
    <div>
      <button class="edit-btn" @click="updateTransfers">
        Update transfers
      </button>
     <label>Category
      <select name="category" id="category" v-model="selectedCategory">
        <option value="">Select a category</option>
        <option v-for="(category, idx) in searchedCategory" :key="idx">
          {{ category.securityClass.name }}
        </option>
      </select> 
    </label>
      <label class="transfers__date">Date
      <select name="category" id="category" v-model="selectedDate">
        <option value="">Select date</option>
        <option v-for="(category, idx) in searchedDate" :key="idx">
          {{ category.recordDate }}
        </option>
      </select> 
    </label>
    <div class="transfers__card-wrapper">
      <transfer-card
        v-for="(transfer, id) in searchedTransfers"
        :key="transfer.transactionIdentifier"
        :transfer="transfer"
        :color="borderColor[id]"
      />
    </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Transaction } from "@/types/types";
import TransferRow from "@/components/transferRow.vue";
import transfers from "@/assets/transfersData";
import TransferCard from "@/components/transferCard.vue"

@Component({
  name: "Transfers",
  components: { TransferRow, TransferCard },
})

export default class Transfers extends Vue {
  searchTerms = "";
  selectedCategory = "";
  selectedDate= "";
  transfers = transfers;
  borderColor = ["purple", "green", "yellow", "red", "purple", "green", "yellow", "red", "purple", "green", "yellow", "red", "purple", "green", "yellow", "red"]
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  get searchedTransfers() {
    if (this.searchTerms) {
      // custom search, should be improved upon
      // used array.filter
      return this.filterTransferDisplay(this.searchTerms);
    }
    if(this.selectedCategory) {
      return this.filterTransferDisplay(this.selectedCategory);
    }
    if(this.selectedDate) {
      return this.filterTransferDisplay(this.selectedDate);
    }
    return this.transfers;
  }

  get searchedCategory(): Transaction[] {
    const uniqueCategories = [...new Map(this.transfers.map(record => [record['securityClass']!['name'], record])).values()];
    return uniqueCategories;
  }

  get searchedDate(): Transaction[] {
    const uniqueDates = [...new Map(this.transfers.map(record => [record['recordDate'], record])).values()];
    return uniqueDates;
  }
  
  /*
    TO DO: May be make Category and Date filter crosscheck and work together. 
    For now, filtering can be done with either one but not both at the same time.
  */
  filterTransferDisplay(name: string): Transaction[] {
    let searchArray: Transaction[] = [];
    if(this.selectedDate) {
      searchArray = this.transfers.filter((transfer: Transaction) => transfer!.recordDate?.toLowerCase().includes(name.toLowerCase()));
      return searchArray;
    }
    searchArray = this.transfers.filter((transfer: Transaction) => transfer.securityClass?.name?.toLowerCase().includes(name.toLowerCase()));
    return searchArray;
  }
  updateTransfers(): void {
    /*
      The problem with this method was that the new properties added to the objects were not triggering the reactivity of the dependencies of the computed property. That was 
      because Vue does not allow dynamically adding new root-level reactive properties to an already created instance. A workaround that is using Vue.set as
      in the example below.
    */
    this.transfers.forEach((transfer) => {
      this.$set( transfer, 'forgottenProperty',`Important data: ${(Math.random() * 100000000).toString().slice(1, 8)}` );
    });

    this.transfers[0] = {
      splitFactor: null,
      exDate: null,
      amount: 10000,
      companyId: "568fa387-43d1-499a-bba2-25089f5a881a",
      notes: null,
      pricePerShare: null,
      recordDate: "2021-07-01",
      securityClassId: "ab983cfe-a932-4e25-98ea-f5928a839fe1",
      securityClass: { name: "Common" },
      state: "OLD",
      toSecurityHolderId: "dd971e7f-386b-45dd-93e1-666fbeed0a55",
      toSecurityHolder: {
        fullName: "Jeff Dunlap",
        type: "PERSON",
      },
      transactionIdentifier: "41095fdb-6b52-4257-aef8-dc523d782e53",
      positionWithinDay: 3,
      type: "ISSUE_STOCK",
    };
  }
}
</script>
<style scoped lang="scss">
.transfers {
  &__date {
    margin-left: 1.5rem;
  }
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.edit-btn {
  margin: 2rem;
}
</style>
