<template>
  <transition name="slide" appear>
    <div class="modal" role="dialog" aria-labelledby="modalTitle">
      <header class="modal__header" id="modalTitle">
        <slot name="header"></slot>
        <button
          type="button"
          class="modal__close-icon"
          @click="close"
          aria-label="Close modal"
        >
          x
        </button>
      </header>
      <section class="modal__body">
        <slot name="form"></slot>
      </section>

      <button class="modal__close-button" @click="close">Cancel</button>
    </div>
  </transition>
</template>
 


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  name: "Modal",
  components: {},
})
export default class Modal extends Vue {
  close(): void {
    this.$emit("close");
  }
}
</script>
<style scoped lang="scss">
@import "src/mixins/mixins.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: 90%;
  width: 90%;
  border-radius: 16px;
  padding: 5px 25px;
  background: #ecf4fe;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  &__header {
    position: relative;
    border-bottom: 1px solid #b5b5b5;
    color: #4aae9b;
    padding: 15px;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
  }

  &__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4aae9b;
    background: transparent;
  }

  &__body {
    position: relative;
    padding: 0 10px 20px 10px;
  }

  &__close-button {
    width: 190px;
    @include app-button(#cc2e5d, #ff5858);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%) translateX(100vw);
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
</style>
