  <template>
  <form ref="form" @sumbit.prevent>
    <div v-for="(input, id) in formTextData" :key="'text' + id" class="field">
      <label class="label"> {{ input.label }}</label>
        <input class="input" type="text" v-model="form[`${input.value}`]" />
    </div>
    <div
      v-for="(input, idx) in formNumericalData"
      :key="'numerical' + idx"
      class="field"
    >
      <label class="label"> {{ input.label }}</label>
        <input
          class="input"
          type="number"
          v-model.number="form[`${input.value}`]"
        />
    </div>
    <button
      class="submit-button"
      type="submit"
      @click.stop.prevent="addSecurityClass"
      @keydown.enter.stop.prevent="addSecurityClass"
    >
      Add A Security Class
    </button>
  </form>
</template>
 


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { TableData, FormInputData } from "@/types/types";

const FORM_INPUT_TEXT_DATA: FormInputData[] = [
  { label: "Please enter a unique id", value: "id" },
  { label: "Security class", value: "name" },
];

const FORM_INPUT_NUMERICAL_DATA: FormInputData[] = [
  { label: "Authorized amount", value: "authorizedAmount" },
  { label: "Issued amount", value: "issuedAmount" },
  { label: "Authorized capital", value: "authorizedCapital" },
  { label: "Issued capital", value: "issuedCapital" },
];

const INITIAL_FORM_VALUE = {
  id: "",
  name: "",
  nominalValue: 0,
  authorizedAmount: 0,
  issuedAmount: 0,
  authorizedCapital: 0,
  issuedCapital: 0,
  randomNumber: Math.random(),
};

@Component({
  name: "SecurityClassForm",
  components: {},
})
export default class SecurityClassForm extends Vue {
  formTextData: FormInputData[] = FORM_INPUT_TEXT_DATA;
  formNumericalData: FormInputData[] = FORM_INPUT_NUMERICAL_DATA;
  form: TableData = INITIAL_FORM_VALUE;
  addSecurityClass(): void {
    console.log(this.form);
    this.$parent.$emit("added", this.form);
    this.resetForm();
    this.form = Object.assign({},{
      id: "", 
      name: "",
      nominalValue: 0,
      authorizedAmount: 0,
      issuedAmount: 0,
      authorizedCapital: 0,
      issuedCapital: 0,
      randomNumber: Math.random()}
    );
  }
  resetForm(): void {
    let form: any = this.$refs.form;
    form.reset();
  }
}
</script>
<style scoped lang="scss">
@import "src/mixins/mixins.scss";

.submit-button {
  @include app-button;
}
</style>

  
  
 