<template>
  <div
    class="transfer-card"
    :style="{ borderLeft: `10px solid ${this.color}` }"
  >
    <div class="transfer-card__short-info">
      <div class="transfer-card__short-header">
        <h3 class="transfer-card__amount">${{ transfer.amount }}</h3>
      </div>
      <div class="transfer-card__short-footer">
        <div>{{ transfer.state }}</div>
        <div>Day: {{ transfer.positionWithinDay }}</div>
      </div>
    </div>
    <div class="transfer-card__long-info">
      <div class="transfer-card__long-header">
        <div class="transfer-card__long-header-wrapper">
          <div class="transfer-card__circle-wrapper">
            <div
              class="transfer-card__circle"
              :style="{ border: `3px solid ${this.color}` }"
            ></div>
            <h2>Sec. Class: {{ transfer.securityClass.name }}</h2>
          </div>
          <div class="transfer-card__circle-wrapper">
            <div
              class="transfer-card__circle"
              :style="{ border: `3px solid ${this.color}` }"
            ></div>
            <h2>{{ transfer.type }}</h2>
          </div>
        </div>
      </div>
      <h2>{{transfer.forgottenProperty}}</h2>
      <div class="transfer-card__long-footer">
        <div class="transfer-card__long-footer-record">
           <div>Date: </div><div>{{ transfer.recordDate }}</div>
        </div>
         <div class="transfer-card__long-footer-record">
           <div>State: </div><div>{{ transfer.state }}</div>
        </div>
        <div class="transfer-card__long-footer-record">
           <div>Date: </div><div>{{ transfer.recordDate }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
 


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Transaction } from "@/types/types";

@Component({
  name: "TransferCard",
  components: {},
})
export default class TransferCard extends Vue {
  @Prop({ required: true }) transfer!: Transaction;
  @Prop({ required: true }) color!: string[];
}
</script>
<style scoped lang="scss">
.transfer-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 400px;
  border: 1px solid #777;
  background-color: #f2f2f2;
  padding: 20px 20px 20px 5px;
  margin: 25px 10px 25px 10px;
  border-radius: 10px;
  &__circle-wrapper {
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  &__circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 86;
    margin-right: 5px;
  }
  &__short-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    border-right: 2px solid #b5b5b5;
    padding: 0 10px 0 10px;
  }
  &__long-info {
    flex: 3 1 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  &__long-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
  }
  &__long-footer {
    display: flex;
    flex-direction: row;
  }
  &__long-footer-record {
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    color: #7a7a7a;
  }
  &__short-footer {
    font-size: 16px;
    font-weight: 800;
    color: #7a7a7a;
        display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__amount {
    font-weight: 600;
    font-size: 18px;
  }
}
</style>
