<template>
  <div class="transfer-row">
    <h4>{{ transfer.fromSecurityHolder }}</h4>
    <div class="transfer-row__text-data">
      <p class="transfer-row__type">Type: {{ transfer.type }}</p>
      <p class="transfer-row__state">State: {{ transfer.state }}</p>
    </div>
    <div class="transfer-row__numerical-data">
      <p class="transfer-row__amount">Amount: {{ transfer.amount }}</p>
      <p class="transfer-row__forgotten-property" v-if="transfer.forgottenProperty">{{ transfer.forgottenProperty }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Transaction } from "@/types/types";

@Component({
  name: "TransferRow",
})
export default class TransferRow extends Vue {
  @Prop({ required: true }) transfer!: Transaction;
}
</script>

<style lang="scss">
@mixin entry-item {
  border-radius: 6px;
  margin: 1rem;
  padding: .5rem;
}

.transfer-row {
  border: 1px solid #b5b5b5;;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  background-color: #dbdbdb;
  @media (min-device-width: 768px) {
    flex-direction: row;
  }
  
  &__text-data, &__numerical-data  {
    background-color: #b5b5b5;
    border: 1px solid #4a4a4a;
    @include entry-item;
  }

  &__numerical-data {
    background-color: #978cb5;
    @include entry-item;
  }

  &__state {
    border: 1px solid black;
    display: block;
    @include entry-item;
  }

  &__type {
    border: 1px solid #4a4a4a;
    @include entry-item;
  }

  &__amount {
    border: 1px solid #f2effb;
    color: white;
    @include entry-item;
  }

  &__forgotten-property {
    border: 1px solid #f2effb;
    color: white;
    @include entry-item;
  }
}
</style>
