@mixin app-button($color1: #48c774, $color2: #7957D5) {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 3rem;
  display: inline-block;
  background-image: linear-gradient(to right, $color1, $color2);
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-out;
  &:hover {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
  }
}
